/*地图*/
.map-wrap {width: 100%;height:100%;overflow: hidden;margin:0;font-family:"微软雅黑";}
.shadow-wrap{height: 100%;width: 100%;position: fixed;background: #676a6c;z-index: 500;opacity: 0.4;display: none;}
.shade-name{height: 100%;width: 100%;position: fixed;z-index: 600;display: none;}
.shade-box{width: 500px;height: 225px;background: #6D7C8C;margin: 100px auto 0;border: 1px solid #d2d2d2;border-radius: 4px;}
.shade-box h2{margin: 0;line-height: 30px;font-size: 14px;border-bottom: 1px solid #e7eaec;}
.shade-box h2 span{height: 18px;width: 18px;background: blue;float: right;}
.label-wrap{height: 127px;border: 1px solid #e7eaec;margin: 10px auto;width: 80%;background: #eee;border-radius: 4px;}
.label-wrap nav li{list-style: none;width: 85px;margin: 15px auto;width: 250px;height: 30px;background: red;}
.label-wrap nav li p{line-height: 30px;float: left;}
.label-wrap nav li select{float: right;width: 140px;height: 25px;margin-top: 2px;}
.label-wrap nav li input{line-height: 20px;float: right;width: 140px;margin-top: 2px;}
.btn-make{line-height: 30px;width: 80px;text-align: center;background: #eee;border: 1px solid #d2d2d2;display: block;float: right;margin-right: 15px;border-radius: 4px;}    
.map-wrap label{max-width:none !important;}
.chosen-container{width:100% !important;}
/* 查询条件盒子 */
.select-box{width:100%;height:100%;min-height:44px;background:#fff;padding-top:5px;border-bottom:1px solid #39aef5;}
/* 查询条件宽度 */
.lf-form-group{width:20%;margin-left:0 !important;margin-right:0 !important}
#gaojishaichabox{width:100%;padding-top:40px;display:none;min-height:44px;}
.chaxunbox{position:absolute;left:93%;top:47px;}
/*分页样式*/
.pagination{width:103%;display:block;box-sizing:border-box;padding-right:1%;}
.fixed-table-pagination .pagination a{padding: 0;width: 11%;padding-top:6px;padding-bottom:6px;text-align: center;}
.pull-right{float:left !important;}
.fixed-table-pagination .pagination-info{font-size: 12px;line-height: 12px;}
.tab-content>.active {position:relative;}
/*a链接样式  */
 a,a:hover,a:active{text-decoration:none}
.pagination-info{display:none}
.col-sm-7 {width: 40%;}
.lf-label{margin-right:5px;}
.menuContent{z-index:99;}
.form-control{padding:6px;}
#form_item_div_i_dept_id{width:25%;}
#form_item_input_i_dept_id{width:66%;}
#form_item_div_time{position:absolute;left:26%;}
#form_item_div_start_s{position:absolute;left:47%; }
#form_item_div_start_f{position:absolute;left:54%;}
#form_item_div_end_s{position:absolute;left:68%;}
#form_item_div_end_f{position:absolute;left:75%;}
#zuo .input-group .glyphicon{right:35px !important;}
.lf-form-group .glyphicon {right: 15px !important;}
#i_dept_id_colseimg{right:35px !important}
a:focus, a:hover{color: #39aef5;}
/*左边隐藏样式  */
#zuo{width:23%;float:left;display: none;}
.margin5{margin:5px 0}
.lf-seach-screening {background-image: url(../../img/icon_screen.png);background-repeat: no-repeat;background-position: 10px center;padding-left: 33px;}