/*地图*/
.map-box{height:544px;}
.map-wrap {width: 100%;height:100%;margin:0;font-family:"微软雅黑";}
.shadow-wrap{height: 100%;width: 100%;position: fixed;background: #676a6c;z-index: 500;opacity: 0.4;display: none;}
.shade-name{height: 100%;width: 100%;position: fixed;z-index: 600;display: none;}
.shade-box{width: 500px;height: 225px;background: #6D7C8C;margin: 100px auto 0;border: 1px solid #d2d2d2;border-radius: 4px;}
.shade-box h2{margin: 0;line-height: 30px;font-size: 14px;border-bottom: 1px solid #e7eaec;}
.shade-box h2 span{height: 18px;width: 18px;background: blue;float: right;}
.label-wrap{height: 127px;border: 1px solid #e7eaec;margin: 10px auto;width: 80%;background: #eee;border-radius: 4px;}
.label-wrap nav li{list-style: none;width: 85px;margin: 15px auto;width: 250px;height: 30px;background: red;}
.label-wrap nav li p{line-height: 30px;float: left;}
.label-wrap nav li select{float: right;width: 140px;height: 25px;margin-top: 2px;}
.label-wrap nav li input{line-height: 20px;float: right;width: 140px;margin-top: 2px;}
.btn-make{line-height: 30px;width: 80px;text-align: center;background: #eee;border: 1px solid #d2d2d2;display: block;float: right;margin-right: 15px;border-radius: 4px;}    
.map-wrap label{max-width:none !important;}
.chosen-container{width:100% !important;}
/* 搜索框样式*/
.select-box{padding-top:5px;padding-left:10px;border-bottom:1px solid #39aef5;padding-bottom:5px;}
/* 搜索框间距 */
#data_1 tr td:nth-of-type(3){padding-left:20px;}
#data_1 tr td:nth-of-type(5){padding-left:20px;}
#data_1 tr td:nth-of-type(6){padding-left:20px;}
/*a链接样式  */
a, a:hover, a:active {text-decoration: none !important; }